body {
  padding: 0;
  margin: 0;
}

#toolbarContainer {
  background-color: #CCC;
  height: 37px;
}

#handsometableContainer {
  width: 100vw;
  height: calc(100vh - 41px);
  border-width: 0;
}

#toolbarContainer .ui.icon.button:not(.labeled) {
  display: none;
}

#toolbarContainer .toolbar-container {
  /*
  margin-left: auto;
  margin-right: auto;
  */
  white-space: nowrap;
}

#toolbarContainer .toolbar-container .ui.small.input input[type="text"] {
  margin-top: -1px;
}

@media all and (max-width: 650px) { 
  #toolbarContainer .ui.icon.button:not(.labeled) {
    display: inline-block;
  }
  
  #toolbarContainer .ui.icon.button.labeled,
  #toolbarContainer label {
    display: none;
  }
}

/* ------------------------------------------- */

#welcomePlaceholder {
  height: calc(100vh - 51px);
  cursor: pointer;
}

#welcomePlaceholder > .ui.card {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------- */

#welcomePlaceholder.hide,
#handsometableContainer.hide {
  display: none;
}